bin/
lib/
lib64/
lib64
include/
html/
logs/
pip-selfcheck.json
share/
static/
pyvenv.cfg
.idea/
__pycache__/
.env
media/


*/node_modules/
*/.idea/
*/__pycache__/
*/webpack.dev.js
*/webpack.prod.js
*/.env
*/package-lock.json
*/media/
